{% extends 'layout.html' %}
{% block content %}
<div class = "content">
  <div class = filters>
    <form method="POST" name = "test" id = "test">

			<b> Brands </b>
			{% for brand in brands %}
				<input type="checkbox" id="{{ brand[1] }}" name="brand" value="{{ brand[0] }}">
				<label for="{{ brand[1] }}"> {{ brand[1] }}</label><br>
			{% endfor %}

			<b> Bike Type </b>
			{% for type in types %}
				<input type="checkbox" id="{{ type[1] }}" name="type" value="{{ type[0] }}">
				<label for="{{ type[1] }}"> {{ type[1] }}</label><br>
			{% endfor %}

			<b> Year </b>
			{% for year in years %}
				<input type="checkbox" id="{{ year[0] }}" name="year" value="{{ year[0] }}">
				<label for="{{ year[0] }}"> {{ year[0] }}</label><br>
			{% endfor %}

			<b>sizes</b>
			{% for size in sizes %}
				<input type="checkbox" id="{{ size[1] }}" name="sid" value="{{ size[0] }}">
				<label for="{{ size[1] }}"> {{ size[1] }}</label><br>
			{% endfor %}

			<select name="sort" id = "sort">
				<option value = "ORDER BY bikes.id ASC">Sort By</option>
				<option value = "ORDER BY bikes.price DESC">Price High To Low</option>
				<option value = "ORDER By bikes.price ASC">Price Low To High</option>
			</select>

			<input type="submit" value="Submit">
		</form>
  </div>
  {% for bike in bikes %}
  <div class = "bikes">
    <img src = "{{ bike[1] }}" alt = "img" >
    <a href = "{{ url_for('bike', id=bike[2]) }}"> {{ bike[0] }} </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
