{% extends 'layout.html' %}
{% block content %}
<div class = "content">
  <div class = filters>
    <form method="POST">
      <b> Brands </b>
      <input type="checkbox" id = "polygon" name="polygon" value="1">
      <label for="polygon"> Polygon</label><br>

      <input type="checkbox" id="trek" name="trek" value="2">
      <label for="trek"> Trek</label><br>

      <input type="checkbox" id="giant" name="giant" value="3">
      <label for="giant"> Giant</label><br>

      <input type="checkbox" id="liv" name="liv" value="4">
      <label for="liv"> Liv</label><br>

      <b> Bike Type </b>
      <input type="checkbox" id="enduro" name="enduro" value="5">
      <label for="enduro"> Enduro</label><br>

      <input type="checkbox" id="trail" name="trail" value="3">
      <label for="trail"> Trail</label><br>

      <input type="checkbox" id="ebike" name="ebike" value="1">
      <label for="ebike"> E-Bike</label><br>

      <input type="checkbox" id="downhill" name="downhill" value="4">
      <label for="downhill"> Downhill</label><br>

      <input type="checkbox" id="jumper" name="jumper" value="2">
      <label for="jumper"> Dirt Jumper</label><br>

      <input type="checkbox" id="xc" name="xc" value="6">
      <label for="xc"> X-Country</label><br>

      <b> Year </b>
      <input type="checkbox" id="2020" name="2020" value="20">
      <label for="2020"> 2020</label><br>

      <input type="checkbox" id="2019" name="2019" value="19">
      <label for="2019"> 2019</label><br>

      <input type="checkbox" id="2018" name="2018" value="18">
      <label for="2018"> 2018</label><br>

      <select name="sort">
        <option value = "ORDER BY id ASC">Sort By</option>
        <option value = "ORDER BY price DESC">Price High To Low</option>
        <option value = "ORDER By price ASC">Price Low To High</option>
      </select>

      <input type="submit" value="Submit">
    </form>
  </div>
  {% for bike in bikes %}
  <div class = "bikes">
    <img src = "{{ bike[1] }}" alt = "img" >
    <a href = "{{ url_for('bike', id=bike[2]) }}"> {{ bike[0] }} </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
