{% extends 'layout.html' %}
{% block content %}
<div class = "content">
  <div class = filters>
    <form method="POST">
      <div class="search">
        <input type="text" name="search" class = "search" placeholder="Search"></input>
      </div>

      {% for type, filters in filter_options.items() %}
        <b>{{ type }}</b>
        {% for filter_item in filters %}
          {% set index = 1 if type != 'year' else 0 %}
          <input type="checkbox" id="{{ filter_item[index] }}" name="{{ type }}" value="{{ filter_item[0] }}" >
          <label for="{{ filter_item[index] }}"> {{ filter_item[index] }}</label><br>
        {% endfor %}
      {% endfor %}

			<select name="sort" id = "sort">
				<option value = "ORDER BY bikes.id ASC">Sort By</option>
				<option value = "ORDER BY bikes.price DESC">Price High To Low</option>
				<option value = "ORDER By bikes.price ASC">Price Low To High</option>
			</select>

			<input type="submit" value="Submit">
		</form>
  </div>
  {% for bike in bikes %}
  <div class = "bikes">
    <a href = "{{ url_for('bike', id=bike[2]) }}"> <img src = "{{ bike[1] }}" alt = "img" > </a>
    <a href = "{{ url_for('bike', id=bike[2]) }}">{{ bike[0] }}</a>
  </div>
  {% endfor %}
</div>
{% endblock %}
