{% extends "layout.html" %}
{% block content %}
<div class = "register">
  <h1> Create Account </h1>
  <form method="POST">
    <input type="text" name="user_name" placeholder="User Name"></input>
    <input type="password" name="password" placeholder="Password"></input>
    <input type="email" name="email" placeholder="Example@Gmail.Com"</input>
    <div class = "submit">
      <input type="submit"></input>
    </div>
  </form>
  <div class = "register_status">
    {{ status }}
  </div>
</div>
{% endblock %}
