{% extends 'layout.html' %}

{% block content %}
<div class = "content">
  <div class = "bike_left">
    <div class = "image">
      <img src = "/{{ bikes[1] }}" alt = "img">
    </div>
  </div>
  <div class = "bike_right">
    <div class = "bike_info">
      <div class = "name">
        {{ bikes[4] }} {{ bikes[0] }}
      </div>
      <div class = "price">
        Price: ${{ bikes[2] }}
      </div>
      <div class = "add_cart">
        <form method="POST">
          <input type = "number" name = "quantity" value = "1"></input>
          <input type = "submit" value = "Add To Cart">
        </form>
      </div>
      <div class = "status">
        {% if status == "Worked": %}
          <p style="color:green;">Added To Cart</p>
        {% endif %}
        {% if status == "Failed": %}
          <p style="color:red;">Failed, Pleases Log In</p>
        {% endif %}
      </div>
      <div class = "description">
        {{ bikes [3] }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
