{% extends 'layout.html' %}
{% block content %}
  <form method="POST">
    <input type = "submit" name = "logout" value = "Logout"></input>
  </form>
  {{ name }}
  <div class = "cart">
    <table>
      <tr>
        <th>Name</th>
        <th>Price ($)</th>
        <th>Quantity</th>
      </tr>
      {% for items in cart %}
        <tr>
          {% for bikes in items %}
            <td>{{bikes}}</td>
          {% endfor %}
        </tr>
      {% endfor %}
        <tr>
          <th>TOTAL:</th>
          <th>${{ price }}</th>
          <th>{{ quantity }}</th>
        </tr>
      </table>
  </div>
{% endblock %}
